html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 13px;
    background-color: #f1f1f1;
    
}

.container {
    width: 375px;
    margin: 0 auto;
    background-color: #ffffff;

}

header {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.logo {
    width: 140px;
    height: 70px;
    padding: 5px;
    padding-left: 10px;
    padding-top: 0px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 14px;
}

.profile {
    display: flex;
}

h1 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 15px;
}

h2 {
    font-size: 13px;
}

span {
    font-size: 13px;
    font-weight: 400;
}

h1 span {
    font-size: 13px;
    display: block;
}

.post-image {
    width: 100%;
    height: auto;
}

.post-image:hover {
    cursor: pointer;
}

.icon {
    width: 26px;
    height: 26px;
    padding-top: 20px;
    padding-left: 10px;
}

.icon:hover {
    cursor: pointer;
    opacity: 0.7;
}
    
.likes {
    font-weight: 600;
    padding-top: 0px;
    padding-left: 12px;
    margin-top: 0;
}

.comment {
    padding-left: 12px;
    padding-bottom: 20px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
}

button {
    background-color: #AAAAAA;
    color: #000000;
    font-weight: 600;
    border: 2px solid #000000;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

button:hover,
button:focus
 {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

footer p {
    font-size: 10px;
}